@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'Nunito-Regular';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('woff');
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 text-gray-800 font-nunito-regular min-h-screen;
}

a {
  @apply cursor-pointer;
}

a:hover .logo {
  @apply fill-blue-800;
}

p {
  @apply text-gray-700;
}

.flex-center {
  @apply flex justify-center items-center;
}

.title {
  @apply font-nunito-semibold text-gray-900;
}

.page-wrapper {
  @apply container py-[20px];
}

.card-style {
  @apply card bg-base-100 shadow-xl;
}

.label {
  @apply flex flex-col items-start gap-[6px] p-0;
}

.input-field {
  @apply w-full  text-sm px-[12px] py-[6px] border border-gray-500 border-solid rounded-[5px] focus:outline-none focus:border-blue-600;
}

.field-error {
  @apply absolute mt-[2px] text-[12px] text-red-600;
}

.button {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}

.navigate-link {
  @apply button rounded-[5px] px-4 py-3;
}

.nav-link {
  @apply font-nunito-medium text-lg text-gray-600 hover:text-gray-800;
}

.active {
  @apply font-bold text-blue-600;
}
