@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'Nunito-Regular';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-Medium';
  src: url('./assets/fonts/Nunito-Medium.ttf') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('./assets/fonts/Nunito-SemiBold.ttf') format('woff');
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-white text-gray-800 font-nunito-regular h-screen;
}

a {
  @apply cursor-pointer;
}

a:hover .logo {
  @apply fill-blue-800;
}

.active {
  @apply font-nunito-semibold text-blue-600;
}

.flex-center {
  @apply flex justify-center items-center;
}

.button {
  @apply bg-blue-500 text-white hover:bg-blue-600;
}
